<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tender.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @tender.body %>
</p>

<%= link_to 'Edit', edit_tender_path(@tender) if logged_in?(:admin, :customer, :etc) %> |
<%= link_to 'Back', tenders_path %>
