<p id="notice"><%= notice %></p>

<p>
  <b>Debit head:</b>
  <%= @doc2.debit_head %>
</p>

<p>
  <b>Item name:</b>
  <%= @doc2.item_name %>
</p>

<p>
  <b>Type:</b>
  <%= @doc2.type %>
</p>

<p>
  <b>Quantity:</b>
  <%= @doc2.quantity %>
</p>

<p>
  <b>Estimated cost:</b>
  <%= @doc2.estimated_cost %>
</p>

<p>
  <b>Date:</b>
  <%= @doc2.date %>
</p>

<p>
  <b>Time:</b>
  <%= @doc2.time %>
</p>

<p>
  <b>Venue:</b>
  <%= @doc2.venue %>
</p>


<%= link_to 'Edit', edit_tender_doc2_path(@doc2.tender, @doc2) %> |
<%= link_to 'Back', tender_doc2s_path(@doc2.tender) %>
